.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 28px;
  height: calc(100vh - 108px);
  width: 100%;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  font-style: italic;
  text-shadow: -4px 2px 3px #1fc779;
  padding-block: 20px;
  text-align: center;
}

@media (hover: hover) {
  .heading:hover {
    color: #1fc779;
    text-shadow: -4px 2px 3px #000;
    transition: all 0.3s ease-in-out;
  }
}

.form label {
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  width: 400px;
  margin-bottom: 5px;
}

.form input {
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 6px;
  width: 400px;
  border: 0;
}

.form textarea {
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 6px;
  width: 400px;
  min-height: 150px;
  border: 0;
}

.form button {
  width: 300px;
  padding: 10px;
  border-radius: 40px;
  background: #1fc779;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
  border: solid 2px #000;
  box-shadow: 7px 6px 28px 1px rgb(0 0 0 / 24%);
}

.form button:hover {
  color: #1fc779;
  border: solid 2px #1fc779;
  background: #000;
  transition: all 0.3s ease-in-out;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .form button:hover {
    color: #000;
    background: #1fc779;
  }
  .form label,
  .form input,
  .form textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 0px;
  }
  .form input,
  .form textarea {
    margin-bottom: 10px;
  }
  .form button {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .heading {
    font-size: 36px;
    padding-block: 20px;
  }
  .form textarea {
    min-height: 100px;
  }
}
