.header {
  background: #000;
  color: #fff;
  height: 80px;
  margin-top: -80px;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1em;
  padding-inline: 0.4rem;
  transition: all 0.5s ease-in-out;
  height: 80px;
}

.header button {
  display: none;
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}

.mobileNav {
  background: rgba(0, 0, 0, 0.95);
  height: 100vw;
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  width: 60%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mobileNavActive {
  background: rgba(0, 0, 0, 0.95);
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 60%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mobileCloseHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-inline: 0.4rem;
}

.mobileNav button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavActive button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNavActive nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
}

.mobileNavList a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8em;
  padding: 1rem;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header button {
    display: flex;
  }
}
