.header {
  background: #000;
  color: #fff;
  display: flex;
  height: 80px;
  margin-top: -80px;
  padding-inline: 2rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 0.8em;
  padding-inline: 0.4rem;
  transition: 0.5s;
  height: 80px;
}

.header a:hover {
  text-decoration: underline;
  color: greenyellow;
}

.header button {
  display: none;
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
}

.logo {
  font-size: 2.5rem;
}

.mobileNav {
  background: rgba(0, 0, 0, 0.95);
  height: 100vw;
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  width: 60%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mobileNavActive {
  background: rgba(0, 0, 0, 0.95);
  height: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 60%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.mobileCloseHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-inline: 0.4rem;
}

.mobileNav button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNavActive button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header button {
    display: flex;
  }
}
