.header {
  background: #000;
  color: #fff;
  height: 80px;
  margin-top: -80px;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.headerWrapper nav {
  width: 240px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1em;
  width: 120px;
  padding-inline: 0.4rem;
  transition: all 0.5s ease-in-out;
}
@media (hover: hover) {
  .header a:hover {
    color: #1fc779;
    text-shadow: -2px 1.5px 2px #fff;
    font-size: 1.2em;
    line-height: 1, 2em;
    transition: all 0.3s ease-in-out;
  }
}

.header button {
  display: none;
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
}

@media (hover: hover) {
  .header button:hover {
    color: #1fc779;
    transition: all 0.3s ease-in-out;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}

.mobileNav,
.mobileNavActive {
  background: #000;
  opacity: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  overflow: hidden;
  width: 60%;
  z-index: 11;
  transition: all 0.5s ease-in-out;
}

.mobileCloseHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-inline: 0.4rem;
}

.mobileNav button,
.mobileNavActive button {
  color: #fff;
  background: none;
  border: 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav button:active,
.mobileNavActive button:active {
  color: #000;
  transition: 0.2s;
}

@media (hover: hover) {
  .mobileNav button:hover,
  .mobileNavActive button:hover {
    color: #1fc779;
    transition: all 0.3s ease-in-out;
  }
}

.mobileNav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNavActive nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

.mobileNavList a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8em;
  padding: 0.6rem;
  transition: 0.5s;
}

@media (hover: hover) {
  .mobileNavList a:hover {
    color: #1fc779;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header button {
    display: flex;
  }
  .mobileNavActive {
    background: #000;
    opacity: 96%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 60%;
    z-index: 10;
    transition: all 0.5s ease-in-out;
  }
  .header a:hover {
    color: #fff;
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .mobileNavList a {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 400px) {
  .mobileNavList a {
    font-size: 1.3em;
  }
}
